<% include ../partials/boilerplate.ejs %>
<main class="content-main">
  <div class="parks-container">
      <div class="park show">
        <div class="park-hero" style="background-image:url(<%= picRequest.data[0].images[0].url %>)"></div>
        <h4><%= userpark.name %></h4>
        <p><%= userpark.description %></p>
        <% if (alertRequest.total !== 0) { %>
        <h3 class="alert-hero">Alerts</h3>
        <% alertRequest.data.forEach((useralert) => { %>
        <div class="alert-container">
          <h5 class="alert-title"><%= useralert.title %></h5>
        <p class="alert-text"><%= useralert.description %></p>
        </div>
        <% }) %>
        <% } %>
        <div class="button-container">
          <form method="POST" action="/passport/<%= userpark.passport_id %>?_method=DELETE">
            <input type="hidden" name="parkid" value="<%= userpark.passport_id %>" />
            <input type="submit" value="Remove from Passport">
          </form>
          <form action="<%= userpark.url %>">
            <input type="submit" value="Visit Park on NPS.gov">
          </form>
          <form class="visit-button" method="POST" action="/passport/<%= userpark.passport_id %>?_method=PUT">
            <input type="hidden" name="parkid" value="<%= userpark.passport_id %>" />
            <% if (!userpark.visited) { %>
              <input type="submit" value="I've visited">
            <% } else { %>
              <input type="submit" value="I haven't visited">
            <% } %>
          </form>
        </div>
    </div>
  </div>

</main>

<% include ../partials/end.ejs %>
